body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.pg1{
    font-weight: bold;
}
.pg2{
    font-size: 24px;
}
.pg3{
    line-height: 50px;
}